.login {}

.login-form {
  border: solid grey 1px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-buttons button {
  padding: 5px;
  margin: 5px;
  background: #eee;
  cursor: pointer;
}

.form-row {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.form-row input {
  margin-left: 10px;
  height: 20px;
  padding: 0px 5px;
}
