.profile {}

.profile-content {
  border: solid grey 1px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.profile-row {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.profile-row span {
  margin: 5px;
}
